<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>All Posts</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>All Posts</h1>

    <% for (let post of posts) { %>
        <div class="post">
            <h2 class="user">
                <%= post.username %>
            </h2>
            <p class="content">
                <%= post.content %>
            </p>
            <br>
            <div class="links">
                <a href="/posts/<%= post.id %>">View Details</a>
                <a href="/posts/<%= post.id %>/edit">Edit Post</a>
                <form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
                    <button>Delete Post</button>
                </form>
            </div>
            <% } %>

                <br><br>
                <a href="/posts/new">Create New Post</a>

</body>

</html>